<template>
  <v-card flat>
    <show-user-details v-if="modalVisible" @close="modalVisible=false" :user="modalData"></show-user-details>

    <v-card-title>{{ items.length }} Deelnemers<v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Zoek (alle velden)"
          single-line
          hide-details>
        </v-text-field>
    </v-card-title>

    <v-card-text>
      <v-data-table
        class="clickable-table"
        :headers="headers"
        :items="items"
        :items-per-page="10"
        :search="search"
        @click:row="openDialog"
      >
        <template v-slot:item.created_at="{ item }">
          {{ formatDateTime(item.created_at) }}
        </template>
        <template v-slot:item.opt_in_news="{ item }">
          <v-icon v-if="item.opt_in_news" color="green">mdi-check</v-icon>
          <v-icon v-else color="red">mdi-close</v-icon>
        </template>
        <template v-slot:item.role_names="{ item }">
          <v-chip v-for="role in item.role_names" v-bind:key="role" small>{{ role }}</v-chip>
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>
</template>

<script>
import ShowUserDetails from './ShowUserDetails'
import moment from 'moment'

export default {
  name: 'MemberTable',
  props: ['users'],
  components: { ShowUserDetails },
  data () {
    return {
      modalVisible: false,
      modalData: null,
      items: [],
      search: '',
      headers: [
        {
          text: 'Datum',
          align: 'start',
          value: 'created_at'
        },
        { text: 'Naam', value: 'full_name' },
        { text: 'E-mail', value: 'email' },
        { text: 'Telefoonnummer', value: 'phone_number' },
        { text: 'Discord', value: 'discord_name' },
        { text: 'Nieuwsbrief', value: 'opt_in_news' },
        { text: 'Rollen', value: 'role_names' }
      ]
    }
  },
  methods: {
    openDialog (data) {
      this.modalData = data
      this.modalVisible = true
    },
    formatDateTime (value) {
      if (value) {
        return moment.utc(String(value)).format('l LT')
      }
    }
  },
  mounted () {
    this.items = Object.keys(this.users).map((key) => {
      return this.users[key]
    })
  }
}
</script>

<style scoped>
  .clickable-table >>> tbody tr :hover {
    cursor: pointer;
  }
</style>
