<template>
    <div>
        <show-news v-if="newsModalVisible" @close="newsModalVisible=false" :news="newsModalData"></show-news>
        <add-news-item v-on:news_added="onNewsAdded"></add-news-item>
        <edit-news-item v-if="editNewsModalVisible" @close="editNewsModalVisible=false" :news="editNewsModalData" v-on:news_added="onNewsAdded"></edit-news-item>

        <v-row>
          <v-col class="flex-grow-1 flex-shrink-1 no-gutters">
              <v-card class="mb-3" flat>
                  <v-card-title>
                      <div class="title">Laatste nieuws</div>
                  </v-card-title>
                  <v-card-text>
                      <v-list>
                          <div v-for="item in news" v-bind:key="item.id">
                              <v-list-item three-line>
                                  <v-list-item-content>
                                      <v-list-item-title><strong>{{ item['title'] }}</strong></v-list-item-title>
                                      <v-list-item-subtitle class="text-caption">{{ formatDate(item['created_at']) }}</v-list-item-subtitle>
                                      <v-list-item-subtitle>{{ item['content'] }}</v-list-item-subtitle>
                                  </v-list-item-content>
                                  <v-list-item-action>
                                      <v-btn icon @click="openNewsDialog(item)"><v-icon>mdi-eye</v-icon></v-btn>
                                      <v-btn icon @click="editNewsDialog(item)"><v-icon>mdi-pencil</v-icon></v-btn>
                                  </v-list-item-action>
                              </v-list-item>
                          </div>
                      </v-list>
                  </v-card-text>
              </v-card>
          </v-col>
        </v-row>
    </div>
</template>

<script>
import { EventBus } from '../../../plugins/events-bus'

import AddNewsItem from '../../components/admin/AddNewsItem'
import EditNewsItem from '../../components/admin/EditNewsItem'
import ShowNews from '../../components/ShowNews'

import moment from 'moment'

export default {
  name: 'AdminNieuws',
  components: { ShowNews, AddNewsItem, EditNewsItem },
  data () {
    return {
      news: [],
      newsModalVisible: false,
      newsModalData: null,
      editNewsModalVisible: false,
      editNewsModalData: {}
    }
  },
  methods: {
    getNews () {
      this.axios.get('/api/news/internal')
        .then(response => {
          this.news = response.data.news
        }).catch(error => {
          console.log(error)
          EventBus.$emit('snackbar', error.message)
        })
    },
    formatDate (value) {
      if (value) {
        return moment.utc(String(value)).format('l')
      }
    },
    onNewsAdded () {
      this.getNews()
    },
    openNewsDialog (data) {
      if (data.url) {
        this.openInNewTab(data.url)
      } else {
        this.newsModalData = data
        this.newsModalVisible = true
      }
    },
    openInNewTab (url) {
      if (url !== null) {
        window.open(url, '_blank').focus()
      }
    },
    editNewsDialog (data) {
      this.editNewsModalVisible = true
      this.editNewsModalData = data
    }
  },
  mounted () {
    this.getNews()
  }
}
</script>

<style scoped>
.v-card {
    border-radius: 7.5px;
}
</style>
