<template>
    <v-row>
        <v-col xs="12" md="6" offset-md="3" class="payment-status">
          <span v-if="paymentSuccess == null">
            <h2>Donatie wordt verwerkt...</h2>
          </span>
          <span v-if="paymentSuccess == true">
            <h2>Dankjewel! Je donatie is gelukt</h2>
            <v-img src="/img/high-five.gif"></v-img>
          </span>
          <span v-else-if="paymentSuccess == false">
            <h2>Daar ging iets niet goed!</h2>
            <v-btn @click="retry" elevation="2" color="primary" class="button">Probeer opnieuw</v-btn>
          </span>
        </v-col>
    </v-row>
</template>

<script>
import { EventBus } from '../../plugins/events-bus'

export default {
  name: 'DonateCallback',
  data () {
    return {
      paymentSuccess: null
    }
  },
  methods: {
    signupCallback () {
      const customerId = this.$route.query.customerId
      const userId = this.$route.query.userId

      if (customerId == null || userId == null) {
        EventBus.$emit('snackbar', 'Invalid callback!')
        return
      }

      this.axios.get('/api/payments/donate/callback', { params: { customerId: customerId, userId: userId } })
        .then(response => {
          console.log('gelukt!', response.message)
          this.paymentSuccess = true
        }).catch(error => {
          this.paymentSuccess = false
          console.log('mislukt!', error)
        })
    },
    retry () {
      window.location.reload()
    }
  },
  mounted () {
    this.signupCallback()
  }
}
</script>

<style scoped>
    .payment-status {
        text-align: center;
    }
</style>
