<template>
    <v-container>
        <show-activity v-if="modalVisible" @close="modalVisible=false" :activity="modalData" v-on:registration_changed="onRegistrationChanged"/>
        <show-news v-if="newsModalVisible" @close="newsModalVisible=false" :news="newsModalData" />

        <v-row>
          <v-col>
            <v-card class="header-image" flat>
              <v-img v-if="this.$vuetify.breakpoint.smOnly || this.$vuetify.breakpoint.xsOnly" src="/img/space-header-sm.jpg"></v-img>
              <v-img v-else src="/img/space-header-lg.jpg"></v-img>
            </v-card>
          </v-col>
        </v-row>

        <v-row>
            <v-col class="flex-grow-1 flex-shrink-1 no-gutters">

                <div v-if="spaceapistatus">
                  <div v-if="spaceapistatus.open">
                    <v-card flat dark color="green" class="status status__open">
                      <v-card-text>
                        <v-card-title class="title">
                          <v-icon>mdi-human-greeting</v-icon> We zijn open!
                        </v-card-title>
                        <v-card-text style="color:#fff;" v-html="spaceapistatus.message"></v-card-text>
                      </v-card-text>
                    </v-card>
                  </div>
                  <div v-else>
                    <v-card flat dark color="red" class="status status__closed">
                      <v-card-text>
                        <v-card-title class="title">
                          <span><v-icon>mdi-lock</v-icon> We zijn gesloten</span>
                        </v-card-title>
                        <v-card-text style="color:#fff;" v-html="spaceapistatus.message"></v-card-text>
                      </v-card-text>

                    </v-card>
                  </div>
                </div>

                <v-card flat>
                    <v-card-text>
                        <v-card-title class="title">
                            Agenda
                        </v-card-title>
                        <v-list>
                            <v-list-item two-line v-for="activity in activities" v-bind:key="activity.id" @click="openDialog(activity)">
                                <v-list-item-content>
                                    <v-list-item-title>{{ activity.title }}</v-list-item-title>
                                    <v-list-item-subtitle>{{ formatDateTime(activity.activity_start) }}</v-list-item-subtitle>
                                </v-list-item-content>
                                <v-list-item-action @click="openDialog(activity)">
                                    <v-btn icon v-bind:class="{ 'accent--text' : activity['current_user_registered']}"><v-icon>mdi-numeric-positive-1</v-icon></v-btn>
                                </v-list-item-action>
                            </v-list-item>
                            <v-list-item v-if="!activities || activities.length === 0">
                              <v-list-item-content>
                                <i>Er zijn momenteel nog geen komende activiteiten gepland. Stay tuned!</i>
                              </v-list-item-content>
                            </v-list-item>
                        </v-list>
                    </v-card-text>
                </v-card>
            </v-col>

            <v-col class="flex-grow-1 flex-shrink-1">
                <v-card class="mb-3" flat>
                    <v-card-text>
                        <v-card-title class="title">
                            Nieuws voor deelnemers
                        </v-card-title>
                        <v-list>
                            <div v-for="item in news" v-bind:key="item.id">
                                <v-list-item three-line @click="openNewsDialog(item)">
                                    <v-list-item-content>
                                        <v-list-item-title><strong>{{ item['title'] }}</strong></v-list-item-title>
                                        <v-list-item-subtitle class="text-caption">{{ formatDate(item['created_at']) }}</v-list-item-subtitle>
                                        <v-list-item-subtitle>{{ item['content'] }}</v-list-item-subtitle>
                                    </v-list-item-content>
                                    <v-list-item-action @click="openNewsDialog(item)">
                                        <v-btn icon><v-icon>mdi-chevron-right</v-icon></v-btn>
                                    </v-list-item-action>
                                </v-list-item>
                            </div>
                        </v-list>
                    </v-card-text>
                </v-card>

                <v-card flat>
                    <v-card-text>
                      <v-card-title class="title">
                        Blogposts
                      </v-card-title>
                      <v-list v-for="item in blogposts" v-bind:key="item.id">
                        <v-list-item three-line @click="openInNewTab(item['url'])">
                          <v-list-item-avatar tile size="65">
                            <v-img :src="item.image"></v-img>
                          </v-list-item-avatar>
                          <v-list-item-content>
                              <v-list-item-title><strong>{{ item['title'] }}</strong></v-list-item-title>
                              <v-list-item-subtitle class="text-caption">{{ formatDate(item['date']) }}</v-list-item-subtitle>
                              <v-list-item-subtitle>{{ item['content'] }}</v-list-item-subtitle>
                          </v-list-item-content>
                          <v-list-item-action @click="openNewsDialog(item)">
                              <v-btn icon><v-icon>mdi-chevron-right</v-icon></v-btn>
                          </v-list-item-action>
                        </v-list-item>
                      </v-list>
                    </v-card-text>
                </v-card>

                <v-card flat>
                    <v-card-text style="padding-bottom: 0;">
                        <v-card-title class="title">
                            Socials
                        </v-card-title>
                    </v-card-text>
                    <v-card-text style="padding-top: 0;">
                      <div class="d-flex justify-space-between pa-4">
                        <div @click="openInNewTab(social['url'])"
                              v-for="social in socialmedia"
                              v-bind:key="social.id"
                        >
                            <v-btn text icon><v-icon large>{{ social['icon']}}</v-icon></v-btn>
                        </div>
                      </div>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import { EventBus } from '../../plugins/events-bus'
import showActivity from '../components/ShowActivity'
import moment from 'moment'
import ShowNews from '../components/ShowNews'

export default {
  name: 'Home',
  components: { ShowNews, showActivity },
  data () {
    return {
      activities: null,
      showSnackbar: false,
      modalVisible: false,
      modalData: null,
      newsModalVisible: false,
      newsModalData: null,
      news: null,
      blogposts: null,
      spaceapistatus: null,
      socialmedia: null,
      user: {}
    }
  },
  methods: {
    /** Get homepage info from the api */
    getUser () {
      this.axios.get('/api/me')
        .then(response => {
          this.user = response.data
          if (!this.hasRole('member')) {
            this.$router.push({ name: 'User' })
          }
        })
    },
    getActivities () {
      this.axios.get('/api/activities')
        .then(response => {
          this.activities = response.data.future_activities
        }).catch(error => {
          console.log(error)
          EventBus.$emit('snackbar', error.message)
        })
    },
    getNews () {
      this.axios.get('/api/news/internal')
        .then(response => {
          this.news = response.data.news
        }).catch(error => {
          console.log(error)
          EventBus.$emit('snackbar', error.message)
        })
    },
    getBlogposts () {
      this.axios.get('/api/news/external')
        .then(response => {
          this.blogposts = response.data.news.slice(0, 3)
        }).catch(error => {
          console.log(error)
          EventBus.$emit('snackbar', error.message)
        })
    },
    getSocials () {
      this.axios.get('/api/socialmedia')
        .then(response => {
          this.socialmedia = response.data.socialmedia
        }).catch(error => {
          console.log(error)
          EventBus.$emit('snackbar', error.message)
        })
    },
    getSpaceApiStatus () {
      this.axios.get('/api/public/status')
        .then(response => {
          this.spaceapistatus = response.state
        })
        .catch(response => {
          this.spaceapistatus = response.state
          // console.log(response, this.spaceapistatus)
        })
        // .then(response => {
        //  this.spaceapistatus = response
        // })
    },

    /** Handle click events */
    openDialog (data) {
      this.modalData = data
      this.modalVisible = true
    },
    openNewsDialog (data) {
      if (data.url) {
        this.openInNewTab(data.url)
      } else {
        this.newsModalData = data
        this.newsModalVisible = true
      }
    },
    openInNewTab (url) {
      if (url !== null) {
        window.open(url, '_blank').focus()
      }
    },

    /** Handle a change in activity registrations */
    onRegistrationChanged () {
      this.getActivities()
    },

    /** Helper functions */
    formatDate (value) {
      if (value) {
        return moment.utc(String(value)).format('l')
      }
    },
    formatDateTime (value) {
      if (value) {
        return moment.utc(String(value)).format('l LT')
      }
    },
    hasRole (role) {
      if (!Object.prototype.hasOwnProperty.call(this.user, 'role_names')) {
        return false
      }

      return this.user.role_names.includes(role)
    }
  },
  mounted () {
    this.getUser()
    this.getActivities()
    this.getNews()
    this.getBlogposts()
    this.getSocials()
    this.getSpaceApiStatus()
  }
}
</script>

<style scoped>
    .v-card {
        border-radius: 7.5px;
        margin-bottom: 16px;
    }
    .pointer {
        cursor: pointer;
    }
    .header-image {
      margin-bottom: 0;
    }
    .v-list-item.v-list-item--link::before {
        border-radius: 7.5px;
    }
    .v-card__title.title {
      padding-top: 0;
      padding-bottom: 0;
    }

    .status__open >>> a,
    .status__closed >>> a {
      color: #fff !important;
      font-weight: bold !important;
    }

</style>
