<template>
    <v-container>
        <v-col sm="12" md="8" offset-md="2" xl="10" offset-xl="1">
            <v-card class="mb-5" flat>
                <v-card-title>
                    <div class="title">Persoonlijke informatie</div>
                </v-card-title>

                <v-card-text>
                    <v-list>
                        <edit-user-field :field="'full_name'" :icon="'mdi-user'" :formvalue="user" :label="'Naam'" :fieldrules="[rules.required]" v-on:edited="fieldEdited"></edit-user-field>

                        <edit-user-field :field="'birthdate'" :icon="'mdi-cake-variant'" :formvalue="user" :label="'Verjaardag'" :fieldrules="[rules.required, rules.birthdate]" v-on:edited="fieldEdited"></edit-user-field>

                        <edit-user-field :field="'postal_code'" :icon="'mdi-home'" :formvalue="user" :label="'Postcode'" :fieldrules="[rules.postal_code.numbers, rules.postal_code.counter]" v-on:edited="fieldEdited"></edit-user-field>
                    </v-list>
                </v-card-text>
            </v-card>

            <v-card class="mb-5" flat>
                <v-card-title>
                    <div class="title">Contactgegevens</div>
                </v-card-title>

                <v-card-text>
                    <v-list>
                        <edit-user-field :field="'email'" :icon="'mdi-email'" :formvalue="user" :label="'E-mail'" :fieldrules="[rules.required, rules.email]" v-on:edited="fieldEdited"></edit-user-field>

                        <edit-user-field :field="'phone_number'" :icon="'mdi-phone'" :formvalue="user" :label="'Telefoonnummer'" :fieldrules="[rules.required]" v-on:edited="fieldEdited"></edit-user-field>

                        <edit-user-field :field="'discord_name'" :icon="'mdi-discord'" :formvalue="user" :label="'Discord username'" :fieldrules="[rules.discord]" v-on:edited="fieldEdited"></edit-user-field>

                        <v-list-item>
                            <v-list-item-icon><v-icon>mdi-email-outline</v-icon></v-list-item-icon>
                            <v-list-item-content>
                                <v-list-item-title>Nieuwsbrief ontvangen</v-list-item-title>
                            </v-list-item-content>
                            <v-list-item-action>
                                <v-switch v-model="user['opt_in_news']" @click="toggleNews"></v-switch>
                            </v-list-item-action>
                        </v-list-item>
                    </v-list>
                </v-card-text>
            </v-card>

            <v-card class="mb-5" flat>
                <v-card-title>
                    <div class="title">Beveiliging</div>
                </v-card-title>

                <v-card-text>
                    <v-list>
                        <v-list-item>
                            <v-list-item-icon><v-icon>mdi-key</v-icon></v-list-item-icon>
                            <v-list-item-content>
                                <v-list-item-title>********</v-list-item-title>
                                <v-list-item-subtitle>Wachtwoord</v-list-item-subtitle>
                            </v-list-item-content>
                            <v-list-item-action>
                                <v-btn icon @click="requestPasswordReset"><v-icon>mdi-pencil</v-icon></v-btn>
                            </v-list-item-action>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-icon><v-icon>mdi-shield-star</v-icon></v-list-item-icon>
                            <v-list-item-content>
                                <v-list-item-title>2FA binnenkort beschikbaar</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-card-text>
            </v-card>

            <v-card class="mb-5" flat>
              <v-card-title>
                <div class="title">Weergave voorkeuren</div>
              </v-card-title>
              <v-card-text>
                <v-list>
                  <v-list-item>
                    <v-list-item-icon><v-icon>mdi-theme-light-dark</v-icon></v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title>Donkere modus</v-list-item-title>
                    </v-list-item-content>
                    <v-list-item-action>
                        <v-switch v-model="$vuetify.theme.dark" @click="changeTheme"></v-switch>
                    </v-list-item-action>
                  </v-list-item>
                </v-list>
              </v-card-text>
            </v-card>

<!--            if user has subscription, show membership card-->
            <v-card class="mb-5" flat v-if="user['subscription']">
                <v-card-title>
                    <div class="title">Deelnemerschap</div>
                </v-card-title>

                <v-card-text>
                    <v-list two-line>
                        <v-list-item>
                            <v-list-item-icon><v-icon>mdi-calendar</v-icon></v-list-item-icon>
                            <v-list-item-content>
                                <v-list-item-title>{{ formatDate(user['created_at']) }}</v-list-item-title>
                                <v-list-item-subtitle>deelnemer sinds</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-icon><v-icon>mdi-calendar-refresh</v-icon></v-list-item-icon>
                            <v-list-item-content>
                                <v-list-item-title>{{ formatDate(user['subscription']['nextPaymentDate']) }}</v-list-item-title>
                                <v-list-item-subtitle>volgende betaling</v-list-item-subtitle>
                            </v-list-item-content>
                            <v-list-item-action>
                              <v-btn text @click="showPreviousPayments">Betalingen &nbsp;<v-icon>mdi-history</v-icon></v-btn>
                            </v-list-item-action>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-icon><v-icon>mdi-cash-multiple</v-icon></v-list-item-icon>
                            <v-list-item-content>
                                <v-list-item-title>{{ user['subscription']['amount']['value'] }} {{ user['subscription']['amount']['currency'] }}</v-list-item-title>
                                <v-list-item-subtitle>maandelijkse bijdrage</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-card-text>
            </v-card>

<!--            if user has active subscription, show end subscription card -->
            <v-dialog
                v-model="end_subscription_dialog"
                width="500"
                v-if="user['subscription']">
                <template v-slot:activator="{ on, attrs }">
                    <v-card flat>
                        <v-btn text color="red" block class="px-5" v-bind="attrs" v-on="on">Deelnemerschap beëindigen</v-btn>
                    </v-card>
                </template>

                <v-card>
                    <v-card-title>
                        Deelnemerschap beëindigen
                    </v-card-title>

                    <v-card-text>
                        Hiermee bevestig je dat je je deelnemerschap wilt opzeggen.
                        Je deelnemerschap zal verlopen per <strong>{{ nextMonth() }}</strong>.
                        Tot die tijd kun je nog gebruik maken van de portal en faciliteiten van de Space.
                        We hopen je terug te zien bij je volgende project!
                    </v-card-text>

                    <v-card-actions>
                        <v-btn
                            color="primary"
                            text
                            @click="end_subscription_dialog = false"
                        >Annuleren</v-btn>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="red"
                            text
                            @click="cancelSubscription"
                        >Opzeggen</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

<!--            if user has no active subscription, show reactivate subscription card-->
            <v-card class="mb-5" flat v-if="user['subscription'] == false && user['mandate'] != false">
                <v-card-text>
                    Je hebt op dit moment geen lopend deelnemerschap. Daarom kun je in deze portal
                    alleen je eigen informatie zien. Heb je een nieuw project bedacht, of wil je
                    gewoon weer af en toe langs komen? Heractiveer dan je deelnemerschap.
                </v-card-text>
            </v-card>
            <v-dialog
                v-model="restart_subscription_dialog"
                width="500"
                v-if="user['subscription'] == false && user['mandate'] != false">
                <template v-slot:activator="{ on, attrs }">
                    <v-card flat>
                        <v-btn text color="primary" block class="px-5" v-bind="attrs" v-on="on">Heractiveer deelnemerschap</v-btn>
                    </v-card>
                </template>

                <v-card>
                    <v-card-title>
                        Deelnemerschap heractiveren
                    </v-card-title>

                    <v-card-text>
                        <v-container>
                            <div>Een deelnemerschap kost op dit moment [bedrag] per maand. Via dit formulier kun je je registreren voor een deelnemerschap.</div>
                            <v-form ref="form"
                                    lazy-validation>
                                <v-checkbox v-model="form.opt_in_news"
                                            name="opt_in_news"
                                            id="opt_in_news"
                                            label="Hou mij op de hoogte over nieuws en evenementen van The Space.">
                                </v-checkbox>

                                <v-checkbox v-model="form.agree_subscription"
                                            name="agree_subscription"
                                            id="agree_subscription"
                                            :rules="[rules.required]"
                                            label="Ik machtig Stichting The Space Leiden om maandelijks de vastgestelde deelnemersbijdrage af te schrijven van mijn bankrekening.">
                                </v-checkbox>
                            </v-form>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn
                            color="accent"
                            text
                            @click="restart_subscription_dialog = false"
                        >
                            Annuleren
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="primary"
                            text
                            @click="reactivateSubscription"
                        >
                            Starten
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

<!--            if user has no mandate, let them make a mandate first, and activate a subscription-->
            <v-card class="mb-5" flat v-if="user['mandate'] == false">
                <v-card-text>
                    Je hebt op dit moment geen lopend deelnemerschap! Daarom kun je in deze portal alleen je eigen informatie zien. Wil jij graag officieel deelnemer worden van The Space? Activeer dan hier je deelnemerschap.
                </v-card-text>
            </v-card>
            <v-dialog
                v-model="create_mandate_dialog"
                width="500"
                v-if="user['mandate'] == false">
                <template v-slot:activator="{ on, attrs }">
                    <v-card flat>
                        <v-btn text color="primary" block class="px-5" v-bind="attrs" v-on="on">Activeer deelnemerschap</v-btn>
                    </v-card>
                </template>

                <v-card>
                    <v-card-title>
                        Deelnemerschap activeren
                    </v-card-title>

                    <v-card-text>
                        <v-container>
                            <div>Een deelnemerschap kost op dit moment [bedrag] per maand. Via dit formulier kun je je opnieuw registreren voor een deelnemerschap.</div>
                            <v-form ref="form"
                                    lazy-validation>

                                <v-checkbox v-model="form.agree_subscription"
                                            name="agree_subscription"
                                            id="agree_subscription"
                                            :rules="[rules.required]"
                                            label="Ik machtig Stichting The Space Leiden om maandelijks de vastgestelde deelnemersbijdrage af te schrijven van mijn bankrekening.">
                                </v-checkbox>

                                <v-card-actions>
                                    <v-btn
                                        color="accent"
                                        text
                                        @click="create_mandate_dialog = false"
                                    >
                                        Annuleren
                                    </v-btn>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        color="primary"
                                        text
                                        @click="activateSubscription"
                                    >
                                        Starten
                                    </v-btn>
                                </v-card-actions>
                            </v-form>
                        </v-container>
                    </v-card-text>
                </v-card>
            </v-dialog>

<!--            Confirm reset password dialog -->
            <v-dialog
                v-model="reset_password_dialog"
                width="500">

                <v-card>
                    <v-card-title>
                        Wachtwoord opnieuw instellen
                    </v-card-title>

                    <v-card-text>
                        Als je een nieuw wachtwoord aanvraagt wordt er een e-mail gestuurd naar je adres met daarin een wachtwoord-reset-link.
                    </v-card-text>

                    <v-card-actions>
                        <v-btn
                            color="accent"
                            text
                            @click="reset_password_dialog = false"
                        >Annuleren</v-btn>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="primary"
                            text
                            @click="forgotPassword"
                        >Wachtwoord resetten</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <v-dialog
              width=750
              v-model="previous_payments_dialog">
                <v-card>
                  <v-card-title>
                    Jouw betalingen
                  </v-card-title>
                  <v-card-text v-if="payments">
                    <v-simple-table>
                        <thead>
                          <tr>
                            <th>Datum</th>
                            <th>Bedrag</th>
                            <th>Omschrijving</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                        <tr v-for="payment in payments" v-bind:key="payment.id">
                            <td>{{ formatDate(payment['createdAt']) }}</td>
                            <td>{{ payment['amount']['value']}} {{ payment['amount']['currency'] }}</td>
                            <td>{{ payment['description'] }}</td>
                            <td><v-chip :color="statusColor(payment['status'])">{{ payment['status'] }}</v-chip></td>
                        </tr>
                        </tbody>
                    </v-simple-table>
                  </v-card-text>
                  <v-card-actions>
                    <v-btn color="primary" text @click="previous_payments_dialog = false">Sluiten</v-btn>
                  </v-card-actions>
                </v-card>
            </v-dialog>

            <!--// TODO: Button "Request export of my personal data" //-->
            <!--// TODO: Button "Delete my account" //-->
        </v-col>
    </v-container>
</template>

<script>
import { EventBus } from '../../plugins/events-bus'
import moment from 'moment'
import EditUserField from '../components/EditUserField'

export default {
  name: 'User',
  components: { EditUserField },
  data () {
    return {
      end_subscription_dialog: false,
      restart_subscription_dialog: false,
      create_mandate_dialog: false,
      reset_password_dialog: false,
      previous_payments_dialog: false,
      user: {},
      payments: false,
      form: {
        opt_in_news: false,
        agree_terms: null,
        agree_subscription: null
      },
      rules: {
        required: value => !!value || 'Dit veld is verplicht!',
        postal_code: {
          counter: value => !value || value.toString().length === 4 || 'Geef de 4 cijfers van je postcode',
          numbers: value => {
            if (value === '' || value === 0 || value == null) return true
            const pattern = /^[0-9]{0,4}$/
            return pattern.test(value) || 'We slaan alleen de cijfers van je postcode op'
          }
        },
        password: {
          min: v => v.length >= 16 || 'Het wachtwoord dient minimaal 16 karakters te zijn!',
          equal: value => value === this.form.password || 'Beide wachtwoorden zijn niet gelijk'
        },
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Geen correct e-mailadres.'
        },
        birthdate: value => {
          const pattern = /^([0-2]?[1-9]|[1-3][01])-(0?[1-9]|1[0-2])-\d{4}$/ // there might be a better regex for this
          return pattern.test(value) || 'Gebruik het format DD-MM-YYYY'
        },
        discord: value => {
          if (value === '') return true
          const pattern = /^.*#[0-9]{4}$/
          return pattern.test(value) || 'Geef je username, met een # en vier cijfers'
        }
      }
    }
  },
  methods: {

    getUser () {
      this.axios.get('/api/me/finance')
        .then(response => {
          this.user = response.data
          this.user.birthdate = this.formatDate(this.user.birthdate)
        })
    },
    nextMonth () {
      return moment.utc().add(1, 'M').startOf('month').format('l')
    },
    formatDate (value) {
      if (value) {
        return moment.utc(String(value)).format('l')
      }
    },
    cancelSubscription () {
      this.axios.get('/api/payments/subscription/cancel')
        .then(response => {
          this.end_subscription_dialog = false
          EventBus.$emit('snackbar', response.message)
          this.getUser()
        })
    },
    reactivateSubscription () {
      this.axios.get('/api/payments/subscription/reactivate')
        .then(response => {
          EventBus.$emit('snackbar', response.message)
          this.getUser()
        })
        .catch(response => {
          EventBus.$emit('snackbar', response.message)
        })
      this.restart_subscription_dialog = false
    },
    activateSubscription () {
      this.axios.get('/api/payments/mandate/create')
        .then(response => {
          window.location = response.data.href
          EventBus.$emit('snackbar', response.message)
          this.getUser()
        })
        .catch(response => {
          EventBus.$emit('snackbar', response.message)
        })
      this.create_mandate_dialog = false
    },
    requestPasswordReset () {
      this.reset_password_dialog = true
    },
    forgotPassword () {
      this.reset_password_dialog = false
      this.axios.post('/api/auth/forgot', { email: this.user.email })
        .then(response => {
          EventBus.$emit('snackbar', 'Een e-mail met een reset link is verstuurd!')
        })
        .catch(response => {
          EventBus.$emit('snackbar', response.message)
        })
    },
    fieldEdited () {
      this.getUser()
    },
    getFillableUser (u) {
      // just so we don't send unnecesary data towards the backend,
      // this wouldn't be accepted anyways.
      // TODO: not get some of this info from the backend in the first place.
      delete u.mandate
      delete u.subscription
      delete u.updated_at
      delete u.created_at
      delete u.email_verified_at
      delete u.mollie_customer_id
      delete u.full_name
      delete u.role_names
      delete u.id
      return u
    },
    toggleNews () {
      // this value is toggled by the switch so we don't need to set it here
      const fillableUser = this.getFillableUser(this.user)
      this.axios.patch('/api/me', fillableUser)
        .then(response => {
          EventBus.$emit('snackbar', 'Je gegevens zijn bijgewerkt')
          this.getUser()
        }).catch(error => {
          console.log(error)
          EventBus.$emit('snackbar', error.message)
        })
    },
    changeTheme () {
      EventBus.$emit('change_theme')
    },
    showPreviousPayments () {
      this.axios.get('/api/me/payments')
        .then(response => {
          this.payments = response.data
          this.previous_payments_dialog = true
        }).catch(error => {
          console.log(error)
          EventBus.$emit('snackbar', error.message)
        })
    },
    statusColor (status) {
      switch (status) {
        case 'paid':
        case 'settled':
          return 'green'
        case 'pending':
          return 'orange'
        case 'canceled':
        case 'expired':
        case 'failed':
          return 'red'
        default:
          return 'grey'
      }
    }
  },
  mounted () {
    this.getUser()
  }
}
</script>

<style scoped>
    /*.mdi {
        margin-right:10px;
    }*/
</style>
